body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(187, 218, 243);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-box h1 {
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

.login-box input {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(187, 218, 243);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-box button:hover {
    background-color: rgb(157, 188, 213);
}

#page-principal:hover{
    background-color: black;
}

#page-principal{
    background-color: gray;
}