/* Styles généraux */
body {
    margin: 0;
    Font-family: Copperplate, Copperplate Gothic Light, fantasy;
    background-color: aliceblue;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px; /* Ajustez selon vos besoins */
    background-color: #73c2fb; /* Optionnel : couleur de fond */
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .menu {
    display: flex;
    align-items: center;
  }
  
  .menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-image {
    width: 50px; 
    height: auto;
    margin-right: 10px; 
  }
  
  
  .logo-text {
    font-size: 25px; 
    color: #333; 
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 15px; 
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    color: #333; 
  }
/* Header */
.headder {
    text-align: center;
    background: linear-gradient(135deg, #3498db, #2ecc71);
    color: white;
    padding: 20px 0;
    animation: fadeIn 2s ease-in-out;
}

/* Sections */
.intro {
    text-align: center;
    padding: 20px;
    animation: slideIn 1.5s ease-in-out;
}

.timeline {
    padding: 20px;
    display: grid;
    gap: 20px;
}

/* Timeline items */
.timeline-item {
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.timeline-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */
.footer {
    text-align: center;
    padding: 10px 0;
    background-color: #3498db;
    color: white;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 768px) {
  header {
    flex-direction: column; /* Empile les éléments du header */
    align-items: flex-start;
  }

  .menu {
    margin-bottom: 10px;
  }

  nav ul {
    flex-direction: column; /* Liste verticale pour le menu */
    align-items: flex-start;
    gap: 10px; /* Espace entre les liens */
  }

  nav ul li {
    margin: 0;
  }

  .bloc {
    height: 50vh; /* Réduit la hauteur de la vidéo pour les petits écrans */
  }

  h2 {
    font-size: 1.2rem; /* Réduit la taille du texte */
    text-align: center;
  }
}