*{
    background-color: #73C2FB ;
}

header{
    margin: 0%;
    padding: 0px;
}

header div {
    margin-top: -5px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    
    
}

header div img{
    height: 30px;
}

header img{
    height: 250px;
    padding-left: 0px;
}

.transition1{
    position: relative;
    right: 5%;
}

.final{
    opacity: 0;
    position: absolute;
    background-color: transparent;
}



#voiture1{
    margin: auto;
    display: block;

}